In [1]:
# biblioteca pandas
import pandas as pd

exemplo1 = [10, 20, 30, 40, 50]

#Criando uma Series a partir da lista
series1 = pd.Series(data = exemplo1)

print(series1)
print(exemplo1)

0    10
1    20
2    30
3    40
4    50
dtype: int64
[10, 20, 30, 40, 50]

In [2]:
import pandas as pd

#Criando um dicion√°rio com pares chave-valor
exemplo2 = {'A': 100, 'B': 200, 'C': 300, 'D': 400, 'E': 500}

#Criado uma Series
series2 = pd.Series(data = exemplo2)

print(series2)

A    100
B    200
C    300
D    400
E    500
dtype: int64

In [3]:
import pandas as pd
url = 'https://www.fdic.gov/bank-failures/failed-bank-list'
dfs = pd.read_html(url)

print(type(dfs))
print(len(dfs))

<class 'list'>
1

In [4]:
df_bancos = dfs[0]

In [5]:
print(df_bancos.shape)

(25, 7)

In [7]:
print(df_bancos.dtypes)

Bank Name                object
City                     object
State                    object
Cert                      int64
Acquiring Institution    object
Closing Date             object
Fund  Sort ascending      int64
dtype: object

In [8]:
df_bancos.head()

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund Sort ascending
0,The Santa Anna National Bank,Santa Anna,Texas,5520,Coleman County State Bank,"June 27, 2025",10549
1,Pulaski Savings Bank,Chicago,Illinois,28611,Millennium Bank,"January 17, 2025",10548
2,The First National Bank of Lindsay,Lindsay,Oklahoma,4134,First Bank & Trust Co.,"October 18, 2024",10547
3,Republic First Bank dba Republic Bank,Philadelphia,Pennsylvania,27332,"Fulton Bank, National Association","April 26, 2024",10546
4,Citizens Bank,Sac City,Iowa,8758,Iowa Trust & Savings Bank,"November 3, 2023",10545

In [9]:
import pandas as pd

#Criar um dicionario com nomes e idades
dados = {
    'Nome': ['Alice', 'Bob', 'Carol', 'David', 'Eva'],
    'Idade': [ 25,22,24,30,29]
}

#Criar uma serie
series_idades = pd.Series(dados['Idade'], index=dados['Nome'])

#Exibir
print('S√©rie de idades')
print(series_idades)

#Calcular a media de idades
media_idades = series_idades.mean()
print(f'M√©dia: {media_idades}')

S√©rie de idades
Alice    25
Bob      22
Carol    24
David    30
Eva      29
dtype: int64
M√©dia: 26.0