In [ ]:
import sqlite3

#1.Conectar ao banco de dados (ou criar um novo)
#com a função connect do sqlite3 para se conectar ao banco
#se não existir, será criado automaticamente
conn = sqlite3.connect('exemplo.db')

#2. Criar um objeto cursor ( usado para executar comandos SQL no banco)
#Atua como um ponteiro que percorre os resultados das consultas
cursor = conn.cursor()

#3. Definir o comando SQL para criar a tabela
create_table = """
CREATE TABLE IF NOT EXISTS Produtos (
  id INTEGER PRIMARY KEY,
  nome TEXT NOT NULL,
  preco REAL NOT NULL,
  estoque INTEGER
);
"""

#4. Executar o comando SQL para criar a tabela
cursor.execute(create_table)

#5. Confirmar as alterações (commit)
conn.commit()

#6. Fechar a conexão com o banco de dados
conn.close()

In [11]:
import sqlite3

#connectando com o banco
conn = sqlite3.connect('exemplo.db')
cursor = conn.cursor()

#dados do novo produto
novo_produto = ('Camiseta', 19.99, 50)

#comando para inserir novo produto
inserir_produto = "INSERT INTO Produtos (nome, preco, estoque) VALUES (?, ?, ?)"

#executando o comando
cursor.execute(inserir_produto, novo_produto)

#confirmando as alterações
conn.commit()

#fechando a conexão
conn.close()

In [16]:
#visualizar produto

conn = sqlite3.connect('exemplo.db')
cursor = conn.cursor()

#comando para selecionar todos os produtos
selecionar_produtos = "SELECT * FROM Produtos"

#executando o comando
cursor.execute(selecionar_produtos)

#recuperando os resultados
produtos = cursor.fetchall()

#exibindo os produtos
for produto in produtos:
    print(produto)

#fechando a conexão
conn.close()

(2, 'Camiseta', 19.99, 50)

In [13]:
#atualizar produto
conn = sqlite3.connect('exemplo.db')
cursor = conn.cursor()

#novo preço e id do produto
novo_preco = 24.99
id_produto = 1

atualizar_preco = "UPDATE Produtos SET preco = ? WHERE id = ?"

#executando o comando
cursor.execute(atualizar_preco, (novo_preco, id_produto))

#confirmando as alterações
conn.commit()

#fechando a conexão
conn.close()

In [15]:
#excluir produto

conn = sqlite3.connect('exemplo.db')
cursor = conn.cursor()

#id do produto a ser excluído
id_produto = 1

excluir_produto = "DELETE FROM Produtos WHERE id = ?"

cursor.execute(excluir_produto, (id_produto,))

#confirmando as alterações
conn.commit()

#fechando a conexão
conn.close()

In [18]:
import sqlite3
conn = sqlite3.connect('contatos.db')
cursor = conn.cursor()
cursor.execute('''
  CREATE TABLE IF NOT EXISTS Contatos (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    nome TEXT NOT NULL,
    email TEXT,
    telefone TEXT NOT NULL
  )
''')

dados_exemplo = [
    ('João', 'joao@email.com', '123-456-7890'),
    ('Maria', 'maria@email.com', '987-654-3210'),
    ('Carlos', 'carlos@email.com', '8834736-0983')
]

cursor.executemany('INSERT INTO Contatos (nome, email, telefone) VALUES (?, ?, ?)', dados_exemplo)

conn.commit()

#READ
cursor.execute('SELECT * FROM Contatos')
contatos = cursor.fetchall()
for contato in contatos:
    print(contato)

#UPDATE
novo_telefone = '999-999-9999'
contato_id = 2
cursor.execute('UPDATE Contatos SET telefone = ? WHERE id = ?', (novo_telefone, contato_id))
conn.commit()

#DELETE
contato_id_para_deletar = 1
cursor.execute('DELETE FROM Contatos WHERE nome = ?', (contato_id_para_deletar,))
conn.commit()

#fechando conexão
conn.close()

(1, 'João', 'joao@email.com', '123-456-7890')
(2, 'Maria', 'maria@email.com', '999-999-9999')
(3, 'Carlos', 'carlos@email.com', '8834736-0983')
(4, 'João', 'joao@email.com', '123-456-7890')
(5, 'Maria', 'maria@email.com', '987-654-3210')
(6, 'Carlos', 'carlos@email.com', '8834736-0983')