In [ ]:
import pandas as pd

df_selic = pd.read_json('https://api.bcb.gov.br/dados/serie/bcdata.sgs.11/dados?dataInicial=03/10/2015&dataFinal=03/10/2025')

print(df_selic.info())
print(df_selic)

In [5]:
#verificar duplicidade de linhas (mantém o ultimo registro)
df_selic.drop_duplicates(keep='last', inplace=True)

In [ ]:
from datetime import date as dt

data_extracao = dt.today()

df_selic['data_extracao'] = data_extracao
df_selic['responsavel'] = 'Autor'

print(df_selic.info())
df_selic.head()

In [7]:
df_selic.loc[0]

data             05/10/2015
valor              0.052531
data_extracao    2025-10-03
responsavel           Autor
Name: 0, dtype: object

In [9]:
teste = df_selic['valor'] < 0.01
print(type(teste))
print(teste)

<class 'pandas.core.series.Series'>
0       False
1       False
2       False
3       False
4       False
        ...
2504    False
2505    False
2506    False
2507    False
2508    False
Name: valor, Length: 2509, dtype: bool

In [11]:
import pandas as pd

#criando um dataframa com 5 linhas
data = {
    'nome': ['Produto A', 'Produto B', 'Produto C', 'PRoduto D', 'Produto E'],
    'quantidade': [2,4,5,6,1],
    'tipo': ['eletrônico','vestuário', 'alimento', 'eletrônico', 'vestuário'],
    'total': [120,45,79,90,98]
}

df = pd.DataFrame(data)
print(df)

        nome  quantidade        tipo  total
0  Produto A           2  eletrônico    120
1  Produto B           4   vestuário     45
2  Produto C           5    alimento     79
3  PRoduto D           6  eletrônico     90
4  Produto E           1   vestuário     98

In [13]:
df['preço'] = df['total'] / df['quantidade']

itens_acima_de_50 = df[df['preço'] > 50]

print(itens_acima_de_50)

        nome  quantidade        tipo  total  preço
0  Produto A           2  eletrônico    120   60.0
4  Produto E           1   vestuário     98   98.0